/* 
body {
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #f4f4f4;
margin: 70px;
}

.container {
background: white;
padding: 20px;
margin: 20px auto;
border-radius: 10px;
max-width: 600px;
}

h1 {
color: #333;
}

p {
line-height: 1;
}

.navbar {
 background-color: #73a85e;
 padding: 12px;
}
.navbar a {
 color: #73a85e;
 text-decoration: none;
 margin-right: 15px;
 font-weight: bold;
}
.navbar a:hover {
 text-decoration: underline;
} */

:root {
    --verde-mate: #73a85e; /* Tu verde original */
}

.bg-mate {
    background-color: var(--verde-mate) !important;
}